
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}
#header_inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    max-width: 1600px;
    margin: 0 auto;
}
.header_logo {
    width: 30%;
    background: purple;
    display: flex;
}
.header_logo img{
    width: 100%;
}
.header_center {
    width: 100%;
    background: #3da341;
}
.header_area_privada {
    background: #417b43;
    width: 30%;
}

/* start nav */
.wr_nav {
    background: #555353;
    /* padding: 5px; */
    width: 100%;
}
nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul a[data-menu]{
    display: block;
}







nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

nav a { 
    text-decoration: none; 
    color: blue;
    transition: 0.3s; 
}
nav a:hover{
    color:lightblue;
}

#m_btn_menu {
    padding: 10px 17px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 44px;
}
#m_btn_menu i {
    font-size: 24px;
}

.fixed {
    position: fixed;
    top: 0;
}
/* end nav*/

#content {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    gap: 20px;
    max-width: 1600px;
}

.sidebar {
    flex: 1;
    background-color: #ededed;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.2rem rgba(0, 0, 0, .2);
}

.block{
    background-color: white; 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 .5rem 1.2rem rgba(0, 0, 0, .2); 
}

.spisok {
    padding: 10px 0px 10px 20px;
}

.content {
    flex: 3;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.2rem rgba(0, 0, 0, .2);
}




.info {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.map {
    width: 100%;
    height: 300px;
    background-color: #ddd;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #555;
}


button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}



/* start contact */
form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form .form-group {
    margin-bottom: 25px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    /* resize: vertical; */
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 400px; */
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none; /* Para evitar que el usuario cambie el tamaño del textarea */
}
textarea {
    min-height: auto; /* Esto deja que el atributo rows controle la altura mínima */
}

label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    color: #999;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}
label.lab_message {
    top: 25px;
}

input:focus,
textarea:focus
 {
    border-color: #4CAF50;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label
{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #4CAF50;
}
/* end contact */


/* start about */
.about-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.about-content h2 {
    margin-bottom: 15px;
    color: #4CAF50;
}

.about-content p {
    margin-bottom: 15px;
}

.about-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.about-content ul {
    margin-top: 15px;
    list-style: disc;
    padding-left: 20px;
}

.about-content ul li {
    margin-bottom: 10px;
}

/* end about */




.elemento-a-animar {
    opacity: 0;
    transform: translateX(-100%) scale(0.2);
    /* O translateX(100%) para que aparezca desde la derecha */
    transition: all 1.5s ease-in-out;
    /* Ajusta la duración y la curva de la transición */
}
.elemento-a-animar.visible {
    opacity: 1;
    transform: translateX(0) scale(1);
}



.elemento-a-animar2 {
    opacity: 0.5;
    transform: translateY(100%) scale(0.2);
    /* O translateX(100%) para que aparezca desde la derecha */
    transition: all 1.5s ease-in-out;
    /* Ajusta la duración y la curva de la transición */
}
.elemento-a-animar2.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}



.elemento-a-animar3 {
    opacity: 0.5;
    transform: translateX(100%) scale(0.2);
    /* O translateX(100%) para que aparezca desde la derecha */
    transition: all 1.5s ease-in-out;
    /* Ajusta la duración y la curva de la transición */
}
.elemento-a-animar3.visible {
    opacity: 1;
    transform: translateX(0) scale(1);
}



/* Estilo general para el botón "volver al inicio" */
.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.45s ease-in-out;
    font-size: 24px;
    z-index: 1000;
    text-decoration: none;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-top i {
    line-height: inherit;
}

.to-top.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    
}

/* Efecto de scroll suave cuando se hace clic */
html {
    scroll-behavior: smooth;
}


[class*='fa-']:before {
    font-weight: 400;
    font-family: 'FontAwesome';
}
.fa {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fa-angle-up:before {
    content: "\f106";
}


.fa-tres-puntos-vertical:before {
    content: "\f142";
}


#wr_links {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    transition: 0.3s;
    transform: translateX(-100%);
    overflow: hidden;
    /* background: #ff000059; */
}

#wr_links.visible {
    visibility: visible;
    transform: translateX(0);
    display: flex;
    z-index: 2;
}



#menu_fondo {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: #0000006e;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}
#menu_fondo.visible{
    z-index: 1;
    opacity: 1;
}




.wr_links_inner {
    background: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 85%;
    align-items: flex-start;
}

#menu_head {
    background: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#menu_head a {
    padding: 10px;
    color: white;
    opacity: 0.8;
    transition: 0.3s;
}
#menu_head a:hover{
    color: white;
    background: grey;
    opacity: 1;
}
#menu_head a i {
    width: 30px;
    height: 30px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#menu_head a:nth-child(1){
    padding-left: 15px;
}





.wr_links::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 6px;
    border-right-color: black; /* Color de la flecha */
}
.d-none{
    display: none;
}