
@media screen and (min-width: 0px) and (max-width: 320px) {
    
    .wr_links_inner {
        width: 100%;
    }

}


@media screen and (min-width: 321px) and (max-width: 567px) {
    
    .wr_links_inner {
        width: 80%;
    }

}


@media screen and (min-width: 568px) and (max-width: 767px) {
    
    .wr_links_inner {
        width: 50%;
    }

}

@media screen and (min-width: 0px) and (max-width: 1600px) {
    
    .container  {
        margin: 20px;
    }

}




/*  MOBILKA */
@media screen and (min-width: 0px) and (max-width: 767px) {
    
    #wr_links li {
        width: 100%;
        border-bottom: 1px solid #414141;
    }
    #header_inner{
        flex-direction: column;
    }
    .header_logo,
    .header_center,
    .header_area_privada{
        width: 100%;
    }

    header,
    .search_icon
    {
        display: none;
    }

}/* end MOBILKA - min-width: 0 - 767px */



/* DESKTOP - de 768 a 1200 y mas  */
@media screen and (min-width: 768px) {
    
    nav ul a[data-menu]{
        display: none;
    }
    nav ul a[data-link]{
        display: block;
    }

    .gr_menu,
    #m_btn_menu,
    #menu_fondo.search_icon
    {
        display: none;
    }

    #wr_links {
        /* background: red; */
        display: block;
        position: inherit;
        visibility: visible;
        transform: translateX(0);
    }
    .wr_links_inner {
        height: auto;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    #menu_head{
        display: none;
    }



}/* end DESKTOP - min-width: 768px */










