<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirige todas las peticiones no encontradas a index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]

  AddType application/javascript .js
</IfModule>