<div>
        
    <div class="container">

        <div class="block">
            <h1>--- Usuario ${userId}</h1>
            <p>Nombre: ${user.name}</p>
            <p>Edad: ${user.age}</p>
            <p>Post: ${post.postText}</p> 
        </div>

        <div class="block elemento-a-animar">
            <h1>Desde Left Home con animación</h1>
            <p>Links: <br>

                <li><a href="/" data-link>Home</a></li>
                <li><a href="/about" data-link>About</a></li>
                <li><a href="/contact" data-link>Contact</a></li>
                <li><a href="/contact_hash#/aaa" data-link>Contact_hash </a></li>
                <li><a href="/user" data-link>User</a></li>


                
                <li><a href="/user#userId=1" data-link>User 1</a></li>
                <li><a href="/user#userId=2" data-link>User 2 </a></li>
                <li><a href="/user#userId=2&postId=1" data-link>#User userId:2 postId:1 </a></li>
                <li><a href="/user#userId=3&postId=2" data-link>#User userId:3 postId:2 </a></li>
                <li><a href="/user#userId=4&postId=2" data-link>#User userId:4 postId:2 </a></li>
                <li><a href="/user#/2/1" data-link>#User #/2/1 </a></li>
                <li><a href="/user#/3/2" data-link>#User #/3/2 </a></li>
            </p>
        </div>

        

        <section class="content">
            <article class="post">
                <h2>Nuevas promociones de otoño</h2>
                <p>Este otoño, aprovecha nuestras ofertas especiales en masajes y tratamientos faciales. ¡Reserva tu cita ahora y disfruta de un 20% de descuento!</p>
            </article>

            <article class="post">
                <h2>Consejos para una piel saludable</h2>
                <p>La clave para una piel radiante es la constancia en tu rutina de cuidado. No olvides hidratarte, usar protector solar y visitar nuestro spa regularmente para tratamientos profesionales.</p>
            </article>
        </section>

        <div class="block elemento-a-animar2">
            <h1>Desde Left Home con animación</h1>
            <p>afsdhsdfhafh adfhadfh adfh adfh</p>
        </div>
        
        <section class="content">
            <article class="post">
                <h2>Nuevas promociones de otoño</h2>
                <p>Este otoño, aprovecha nuestras ofertas especiales en masajes y tratamientos faciales. ¡Reserva tu cita ahora y disfruta de un 20% de descuento!</p>
            </article>

            <article class="post">
                <h2>Consejos para una piel saludable</h2>
                <p>La clave para una piel radiante es la constancia en tu rutina de cuidado. No olvides hidratarte, usar protector solar y visitar nuestro spa regularmente para tratamientos profesionales.</p>
            </article>
        </section>



    

    </div>

</div>
