        
    <div class="container">

        <div class="block">
            <h1>Home</h1>
            <p>${welcomeMessage}</p>
            <p>params: ${params_html}</p>
            
            <p>Links: <br>
                <li><a href="/user#userId=1" data-link>User 1</a></li>
                <li><a href="/user#userId=2" data-link>User 2 </a></li>
                <li><a href="/user#userId=2&postId=1" data-link>#User userId:2 postId:1 </a></li>
                <li><a href="/user#userId=3&postId=2" data-link>#User userId:3 postId:2 </a></li>
                <li><a href="/user#userId=4&postId=2" data-link>#User userId:4 postId:2 </a></li>
                <li><a href="/user#/2/1" data-link>#User #/2/1 </a></li>
                <li><a href="/user#/3/2" data-link>#User #/3/2 </a></li>
            </p>
        </div>
    
        <aside class="sidebar">
            <h2>Sobre Nosotros</h2>
            <p>Ofrecemos tratamientos de spa de alta calidad para ayudarte a relajarte y rejuvenecer. Ven a visitarnos y disfruta de un momento especial solo para ti.</p>
            <h3>Servicios populares</h3>
            <ul class="spisok">
                <li>Masajes relajantes</li>
                <li>Faciales rejuvenecedores</li>
                <li>Tratamientos corporales</li>
            </ul>
        </aside>

        <section class="content">
            <article class="post">
                <h2>Nuevas promociones de otoño</h2>
                <p>Este otoño, aprovecha nuestras ofertas especiales en masajes y tratamientos faciales. ¡Reserva tu cita ahora y disfruta de un 20% de descuento!</p>
            </article>

            <article class="post">
                <h2>Consejos para una piel saludable</h2>
                <p>La clave para una piel radiante es la constancia en tu rutina de cuidado. No olvides hidratarte, usar protector solar y visitar nuestro spa regularmente para tratamientos profesionales.</p>
            </article>
        </section>

        <div class="container-flex block">
            <div class="item flex-item">es 1x</div>
            <div class="item flex-item">es 2x</div>
            <div class="item flex-item">es 3x</div>
        </div>

        <div class="container-flex block">
            <div class="item flex-item" style="flex:1;">es 1x</div>
            <div class="item flex-item" style="flex:4;">es 4x</div>
            <div class="item flex-item" style="flex:1;">es 1x</div>
        </div>


        <div class="container-flex block">
            <div class="item flex-item" style="flex:1;">zz 1x</div>
            <div class="item flex-item" style="flex:4;">zz 4x</div>
            <div class="item flex-item" style="flex:1;">zz 1x</div>
        </div>

        <div class="block elemento-a-animar">
            <h1>Desde Left Home con animación</h1>
            <p>${welcomeMessage}</p>
            <p>params: ${params_html}</p>
        </div>

        <div class="block elemento-a-animar2">
            <h1>Desde Down Home con animación</h1>
            <p>${welcomeMessage}</p>
            <p>params: ${params_html}</p>
        </div>


        <div class="block elemento-a-animar3">
            <h1>Desde Right Home con animación</h1>
            <p>${welcomeMessage}</p>
            <p>params: ${params_html}</p>
        </div>

        <div class="block">
            <h1>Ejemplo de Font Awesome</h1>
            <p>Aquí hay algunos íconos de Font Awesome:</p>
            
            <i class="fa fa-home icon" aria-hidden="true"></i> <!-- Ícono de casa -->
            <i class="fa fa-user icon" aria-hidden="true"></i> <!-- Ícono de usuario -->
            <i class="fa fa-envelope icon" aria-hidden="true"></i> <!-- Ícono de sobre -->
            <i class="fa fa-car icon" aria-hidden="true"></i> <!-- Ícono de coche -->
            <i class="fa fa-camera icon" aria-hidden="true"></i> <!-- Ícono de cámara -->
            <i class="fa fa-heart icon" aria-hidden="true"></i> <!-- Ícono de corazón -->
            <i class="fa fa-bars icon" aria-hidden="true"></i> <!-- Ícono de menu -->


            <p>Este es un icono de usuario: <i class="fa-solid fa-user"></i></p>
            <p>Este es un icono de Facebook: <i class="fa-brands fa-facebook"></i></p>

            <i class="fa fa-car" aria-hidden="true"></i>
            <i class="fa fa-beer" aria-hidden="true"></i>
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <i class="fa fa-rss" aria-hidden="true"></i>
            <i class="fa fa-solid fa-bars" aria-hidden="true"></i>
        
            <p>¡Puedes hacer clic en los íconos para verlos en acción!</p>
        </div>


    </div>

