<div class="container">

    <div class="block">
        <h1>About</h1>
        <p>---var aboutMessage: ${aboutMessage}---</p>
        <p>---var additionalInfo: ${additionalInfo}---</p>
        <p>---var text_about: ${text_about}---</p>
        <br>
        <p>Welcome to the About page.</p>
        <button id="btn_about">Click Me</button>
    </div>

    <section class="about-content">
        <h2>Nuestra Historia</h2>
        <p>En <strong>Mi SPA</strong>, creemos en el poder del bienestar físico y mental. Desde que abrimos nuestras
            puertas en 2010, nos hemos dedicado a brindar servicios de spa de la más alta calidad para ayudar a nuestros
            clientes a relajarse, rejuvenecer y recargar energías.</p>

        <img src="https://via.placeholder.com/800x400" alt="Imagen del spa">

        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es proporcionar un oasis de paz y tranquilidad en medio del ajetreo de la vida diaria. Nos
            esforzamos por crear un ambiente acogedor y cálido donde puedas desconectar del estrés y cuidar de ti mismo.
        </p>

        <h2>Valores</h2>
        <ul class="spisok">
            <li><strong>Calidad:</strong> Ofrecemos solo los mejores tratamientos y productos en todos nuestros
                servicios.</li>
            <li><strong>Compromiso:</strong> Nos dedicamos a hacer que cada experiencia en nuestro spa sea inolvidable.
            </li>
            <li><strong>Sostenibilidad:</strong> Nos preocupamos por el medio ambiente y utilizamos productos naturales
                y sostenibles.</li>
            <li><strong>Atención personalizada:</strong> Cada cliente es único, y nos adaptamos a tus necesidades y
                preferencias.</li>
        </ul>
    </section>

</div>

<div class="block">
    <h1>Ejemplo de Font Awesome</h1>
    <p>Aquí hay algunos íconos de Font Awesome:</p>

    <i class="fa fa-home icon" aria-hidden="true"></i> <!-- Ícono de casa -->
    <i class="fa fa-user icon" aria-hidden="true"></i> <!-- Ícono de usuario -->
    <i class="fa fa-envelope icon" aria-hidden="true"></i> <!-- Ícono de sobre -->
    <i class="fa fa-car icon" aria-hidden="true"></i> <!-- Ícono de coche -->
    <i class="fa fa-camera icon" aria-hidden="true"></i> <!-- Ícono de cámara -->
    <i class="fa fa-heart icon" aria-hidden="true"></i> <!-- Ícono de corazón -->


    <p>Este es un icono de usuario: <i class="fa-solid fa-user"></i></p>
    <p>Este es un icono de Facebook: <i class="fa-brands fa-facebook"></i></p>

    <i class="fa fa-car" aria-hidden="true"></i>
    <i class="fa fa-beer" aria-hidden="true"></i>
    <i class="fa fa-camera-retro" aria-hidden="true"></i>
    <i class="fa fa-coffee" aria-hidden="true"></i>
    <i class="fa fa-rss" aria-hidden="true"></i>

    <p>¡Puedes hacer clic en los íconos para verlos en acción!</p>
</div>